{% include "./base.jinja" %}
            

<h1>{{ metadata.title }}</h1
{% if metadata.subtitle %}
: {{ metadata.subtitle }}

{% endif %}
{% for author in metadata.authors %}
<p>{{ author.name }}</p>
<a href="https://orcid.org/0009-0004-0847-4849">ORCID</a>
{% endfor %}

<p>{{ content }}</p>
