{% include "./base.jinja" %}
            

<h1>{{ metadata.title }}</h1
{% if metadata.subtitle %}
: {{ metadata.subtitle }}

{% endif %}
{% for author in metadata.authors %}
<p>{{ author.name }}</p>
{% if author.orcid %}
<a href="https://orcid.org/{{ author.orcid }}">ORCID</a>
{% endif %}
{% endfor %}

<p>{{ content }}</p>
